<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<a href="/products">back to overview</a>
  <header>
    <h1>{{title}} <span></span></h1>
  </header>
	<div>
		{{{description}}}
	</div>
  <div>&euro; {{price}} in stock</div>
</body>
</html>
